@import "../../../../styles/vars";

.filter{
  display: flex;
  overflow-x: scroll;

  .product-filter__items{
    display: flex;
  }

  .product-filter__item{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    border-radius: 1.25rem;
    background-color: $color-white-two;
    color: $color-gray-two;
    border: 0;
    padding: 0.4rem 1.2rem;
    transition: 0.5s;
    cursor: pointer;
    &:not(:last-child){
      margin-right: 0.5rem;
    }

    &.active{
      background-color: $color-orange-elements;
      color: $color-white;
    }
  }
}