.btn{
  background-color: $color-red;
  border: none;
  color: $color-white;
  padding: 1.2rem 2rem;
  border-radius: 0.6rem;
  min-width: 15rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  font-family: $font-bold;
  margin-left: 1.2rem;
  transition: 300ms;
  &:hover{
    cursor: pointer;
    padding-top: 1.0rem;
    background-color: #B40000FF;
    transition: 300ms;

  }
  &-second{
    color: $color-dark-gray;
    background-color: $color-products-button;
    &:hover{
      cursor: pointer;
      padding-top: 1.0rem;
      background-color: #f3d0d0;

      transition: 300ms;

    }
  }
  &-shop{
    padding: 1rem 1.7rem;
    font-size: 2rem;
    line-height: 2.3rem;
    @media (max-width: $mobile) {
      padding: 0.6rem 0.1rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
      min-width: 10rem;
      margin-left: 0.3rem;

    }
  }
}