.btn{
  background-color: $color-red;
  border: none;
  color: $color-white;
  padding: 1.1rem 2rem;
  border-radius: 1rem;
  &-second{
    color: $color-dark-gray;
    background-color: $color-products-button;
  }
}