.cart{
  h3{
    padding: 0;
    margin: 0;
    font-size: 2rem;
  }

  &__picture{
    z-index: 12;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    //right: 2rem;
    //bottom: 20rem;
    //height: 15rem;
    //@media (max-width: 1080px) {
    //  top: 2rem;
    //  bottom: 0;
    //  background: none;
    //}
    //@media (max-width: $mobile) {
    //  right: 0;}
    //@media (max-width: 550px) {
    //  position: fixed;
    //  right: -1rem;
    //  top: auto;
    //  bottom: -6rem;
    //}
    &--img{
      z-index:5;
      cursor: pointer;
      @media (max-width: 1000px) {
        width: 80%;}
      @media (max-width: 550px) {
        width: 80%;
      }
    }
    &--text{
      position: absolute;
      top:-2rem;
      right: 0;
      font-size: 3.4rem;
      line-height: 4.1rem;
      background-color: $color-red;
      height: 4rem;
      width: 4rem;
      border-radius: 15rem;
      color: $color-white;
      font-family: $font-medium;
      transition: 1.4ms;
      text-align: center;
      @media (max-width: $mobile) {
        height: 3rem;
        width: 3rem;
        top:-1rem;
        right: 1.5rem;
        font-size: 1.9rem;
        line-height: 3rem;
      }
    }
  }
}