@import "../../../styles/vars";

.modal {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.8s;
  overflow-x: hidden;

  &.active {
    overflow-x: hidden;
    opacity: 1;
    pointer-events: all;
  }

  &-content {
    padding: 1rem;
    margin: 3rem 2rem;
    background-color: $color-light-white;
    border-radius: 1.2rem;



    &-ico-remove {
      display: flex;
      justify-content: flex-end;
      position: relative;
      img {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        position: absolute;
        @media (max-width: $mobile) {

        }
      }
    }
  }

}