@import "../../../../styles/vars";

.more {
  font-family: Bahnschrift;
  &__top_content {

    h3 {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.1rem;
      color: $color-orange;
      padding-bottom: 0rem;
      margin-bottom: 1.4rem;
      padding-top: 2rem;
    }

    p {
      padding: 1rem 1rem;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: $color-dark-gray;
      margin-top: 0rem;
      margin-bottom: 1.2rem;
      user-select: text;
      white-space: pre-line;
    }
  }

  &__center_images {
    overflow: hidden;

    .swiper{

      &-button-next{
        right: 0;
        color: $color-gray;
        top: 91%;
        margin-top: 0;
        width: auto;
        height: auto;
        z-index: 11;
        &::after{
          content: url("/../src/assets/icons/Arrows/slider-arrow-more.svg");
          font-size: 0;
        }
      }

      &-button-prev{
        left: 0;
        color: $color-gray;
        top: 91%;
        margin-top: 0;
        width: auto;
        height: auto;
        z-index: 11;
        &::after{
          transform: rotate(180deg);
          content: url("/../src/assets/icons/Arrows/slider-arrow-more.svg");
          font-size: 0;
        }
      }

      &-pagination{
        margin-top: 1rem;
      }
    }


    .swiper-slide{
      height: auto;
      img{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }

  &-bottom {
    padding-bottom: 2rem;

    h3 {
      font-weight: 700;
      font-size: 2.2rem;
      line-height: 2rem;
      color: $color-orange;
      padding-bottom: 0rem;
      margin-bottom: 1.4rem;
      padding-top: 2rem;
    }

    &__item {
      margin-top: 0.5rem;
      position: relative;

      h3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2rem;
        color: $color-dark-gray;
        margin-bottom: 1rem;
        transition: 0.4s;
        @media (max-width: $mobile) {
          padding: 1rem 0 !important;
        }


        &.active {
          color: $color-orange;
        }

        img {
          width: 1.8rem;
          height: 1.8rem;
          cursor: pointer;
          transform: rotate(-45deg);
          transition: 0.4s;

          &.active {
            transform: rotate(0deg);
          }
        }
      }

      p {
        padding: 1rem 2rem;
        user-select: text;
        margin: 0;
        margin-bottom: 0.5rem;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.8rem;
        white-space: pre-line;
      }

      hr {
        border: none;
        color: $color-gray;
        background-color: $color-gray;
        height: 0.1rem;
        margin: 0 auto;
      }

    }
  }

  hr {
    border: none;
    color: $color-gray;
    background-color: $color-gray;
    height: 0.1rem;
    margin: 0 auto;
  }
}