@import "../../../../styles/vars";


.more {
  padding: 2rem;
  @media (max-width: $phone) {
    padding: 1rem;
  }

  &-top {

    font-family: Bahnschrift;
    margin-top: 1rem;


    &__title {
      user-select: none;
      padding: 0rem;
      margin-bottom: 2rem;
      font-size: 3.5rem;
      line-height: 3.5rem;
      color: $color-orange-elements;
      @media (max-width: 1400px) {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }

      @media (max-width: $phone) {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
      }

      @media (max-width: 440px) {
        font-size: 2.6rem;
        line-height: 2.6rem;
      }


    }

    &__text {
      margin: 0rem;
      user-select: text;
      white-space: pre-line;
      color: $color-gray-two;
      font-weight: 300;
      font-size: 2rem;

      @media (max-width: $phone) {
        font-size: 1.8rem;
      }

      @media (max-width: 440px) {
        font-size: 1.7rem;
      }

    }

  }


  &-bottom {


    hr {
      border: none;
      color: $color-gray;
      background-color: $color-gray;
      height: 0.1rem;
      margin: 0 auto;
    }

    h3 {
      user-select: none;
      padding: 0rem;
      margin-bottom: 0.5rem;
      font-size: 3.5rem;
      line-height: 3.5rem;
      color: $color-orange-elements;
      @media (max-width: 1400px) {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }

      @media (max-width: $phone) {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
      }

      @media (max-width: 440px) {
        font-size: 2.6rem;
        line-height: 2.6rem;
      }
    }

    .bottom-footer {
      margin-top: 1.5rem;
      font-family: Bahnschrift;
      font-weight: 300;

      p {
        color: $color-dark;
        margin: 0rem;
        text-align: right;
        font-size: 1.8rem;

        @media (max-width: $phone) {
          font-size: 1.4rem;
        }

        @media (max-width: 365px) {
          font-size: 1.2rem;
        }
      }

    }

  }


  &-center {
    user-select: none;
    margin: 3rem 0rem 1rem 0rem;
    overflow: hidden;


    .swiper {
      position: relative;


      &-pagination {
        bottom: 0;
        margin-top: 1rem;
      }

      &-wrapper {

        height: 100%;
        width: 0rem !important;
        position: relative;

      }

      .swiper-slide {

        height: auto;

        img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: cover;
          top: 0;
          left: 0;
        }

      }

    }


  }

}










