@import "../../styles/vars";

.background__blog {
  background-color: $color-light-gray2;
}

.blog {
  max-width: 132rem;
  margin: 0 auto;

  &__title {
    font-family: $font-bold;
    font-size: 5.6rem;
    line-height: 6.7rem;
    padding: 4rem 0rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__posts {
    margin-right: 4.7rem;
  }

  &__panel {

  }

  &__panel-best-title {
    font-size: 2.4rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color: $color-red;
    font-family: $font-bold;
  }

  &__panel-buttons {
    margin-bottom: 2rem;

    &-filter {
      font-size: 2.4rem;
      line-height: 2rem;
      margin-bottom: 1rem;
      color: $color-red;
      font-family: $font-bold;
    }
  }
}