@import "/src/styles/vars.scss";

.microdosing {
  background-color: $color-light-gray2;
  color: $color-dark-gray;
  font-family: $font-semi-bold;
  hr {
    border: 0.01rem solid $color-gray;
  }
}

.box_content {
  max-width: 132rem;
  margin: 0 auto;
  padding: 7rem 1rem;

  &_title {
    font-size: 5.6rem;
    line-height: 6.7rem;
    padding-bottom: 3rem;
  }
}

.item {
  padding: 3rem 0rem;

  &_title {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  &_ico {
    cursor: pointer;
  }


  &_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    padding-bottom: 3rem;

  }

//временно сделала два класса с похожими стилями. ибо ебучие стили в актив класс не наследуются какого-то хуя
  &_text {
    overflow: hidden;
    font-family: $font-light;
    color: $color-light-gray;
    box-sizing: border-box;
    font-size: 1.8rem;
    line-height: 1.26;
    opacity: 0;
    max-height: 0;
    transition: 0.8s ease-in-out;
    width: 95%;
    margin-left: 5.4rem;
    &_active {
      font-family: $font-light;
      color: $color-light-gray;
      max-height: 100rem;
      opacity: 1;
      transition: 0.8s ease-in-out;
      font-size: 1.8rem;
      line-height: 2.2rem;
      width: 95%;
    }
  }

}



