.section-products {
  overflow: hidden;
  h3 {
    @media (max-width: $mobile) {
      padding: 2rem 0;
      margin: 0;

    }
  }


    &__filter{
      display: flex;
      flex-wrap: nowrap;
      ::-webkit-scrollbar {
        width: 0;
        &:first-child{
          margin-left: 3rem;
        }
      }
      &--arr{
        flex-wrap: nowrap;
      }
      &--element{
        margin: 0.5rem;
        color: $color-dark-gray;
        background-color: $color-products-button;
        border-radius: 2.2rem;
        padding: 1rem 2rem;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        border: none;
        transition: 500ms;
        @media (max-width: $mobile) {
          margin: 0.2rem;
          padding: .7rem 1.4rem;
          font-style: normal;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2rem;

        }
        &.active {
          color: $color-white;
          background-color: $color-orange;
        }
        &:hover{
          color: $color-white;
          background-color: $color-orange;
          transition: 500ms;
        }
      }

    }
}