
@font-face {
  font-family: "amanita_sans-bold";
  src: url("../fonts/amanita_textsans-bold.eot");
  src: url("../fonts/amanita_textsans-bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/amanita_textsans-bold.woff") format("woff"),
  url("../fonts/amanita_textsans-bold.ttf") format("truetype"),
  url("../fonts/amanita_textsans-bold.svg#amanita_textsans-bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "amanita_sans-regular";
  src: url("../fonts/amanita_textsans-regular.eot");
  src: url("../fonts/amanita_textsans-regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/amanita_textsans-regular.woff") format("woff"),
  url("../fonts/amanita_textsans-regular.ttf") format("truetype"),
  url("../fonts/amanita_textsans-regular.svg#amanita_textsans_regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


