


@font-face {
  font-family: "Amanita-Bold";
  src: url("../fonts/globersemiboldfree.eot");
  src: url("../fonts/globersemiboldfree.eot?#iefix") format("embedded-opentype"),
  url("../fonts/globersemiboldfree.woff") format("woff"),
  url("../fonts/globersemiboldfree.ttf") format("truetype"),
  url("../fonts/globersemiboldfree.svg#globersemiboldfree") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Amanita-Medium";
  src: url("../fonts/globerthinfree.eot");
  src: url("../fonts/globerthinfree.eot?#iefix") format("embedded-opentype"),
  url("../fonts/globerthinfree.woff") format("woff"),
  url("../fonts/globerthinfree.ttf") format("truetype"),
  url("../fonts/globerthinfree.svg#globerthinfree") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
