footer{
  background: $color-dark-gray;
  margin-top: 4rem;
  @media (max-width: $mobile) {
    margin-top: 2rem;
  }
}

.footer{

  &__text{
    color: $color-white;
    font-size: 1.8rem;
    line-height: 2rem;
    align-items: center;
    font-family: $font-semi-bold;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;

  }
}