@import "fonts.scss";
@import "vars.scss";

.h1, h1 {
  font-size: 3.8rem;
  line-height: 4.2rem;
}

.h5, h5 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

h2 {
  font: bold 3.8rem/1.11 $font-medium;
  margin: 0 0 3.6rem;
  color: $color-dark-gray;
  @media (max-width: $mobile) {
    font-size: 2.8rem;
    line-height: 3.4rem;
    margin: 0 0 1.8rem
  }
}


h3 {
  font-size: 6rem;
  line-height: 6rem;
  font-family: $font-bold;
  color: $color-white;
  padding-top: 8rem;
  margin: 0rem 0rem 1rem 0rem;
  @media (max-width: $tablet){
    font-size: 5.6rem;
    line-height: 6.4rem;
    margin: 0rem 0rem 0.3rem 0rem;
  }

  @media (max-width: $mobile){
    font-size: 6.6rem;
    line-height: 6.8rem;
  }

  @media (max-width: $phone){
    font-size: 3.4rem;
    line-height: 3.6rem;
  }


  //font-size: 4.8rem;
  //line-height: 7.7rem;
  //font-weight: bold;
  //font-family: $font-bold;
  //color: $color-white;
  //margin-top: 0;
  //margin-bottom: 0;
  //padding-top: 4rem;
  //padding-bottom: 2.5rem;

  //@media (max-width: $phone) {
  //  font-size: 3.5rem;
  //  line-height: 3rem;
  //  margin: 0;
  //  padding: 0;
  //  margin-bottom: 1rem;
  //}
}


h4 {
  font-family: $font-medium;
  font-size: 2rem;
  line-height: 2.6rem;
  color: $color-white;
  max-width: 60rem;
  margin-top: 0rem;
  margin-bottom: 0rem;

  @media (max-width: $tablet){
    font-size: 1.8rem;
    line-height: 2.2rem;
    max-width: 45rem;
  }

  @media (max-width: $mobile){
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  @media (max-width: $phone){
    font-size: 1.4rem;
    line-height: 1.6rem;
    max-width: 30rem;
  }



  //@media (max-width: $phone) {
  //  font-size: 1.2rem;
  //  line-height: 1.2rem;
  //  margin: 0;
  //  padding: 0;
  //  max-width: 24rem;
  //}
  //@media (max-width: $mobile) {
  //  font-size: 1.4rem;
  //  line-height: 1.2rem;
  //  margin: 0;
  //  padding: 0;
  //  max-width: 30rem;
  //}
}














.subtitle{font-size: 2.2rem;line-height: 2.8rem}

.br-desktop{
  @media (max-width:600px){display: none;}
}

ul.list{padding-left: 0;line-height: 1.38;list-style: none;
  li{margin-bottom: .5em;
    &:before{margin-right:.64em;width:.31em;height: .31em;background: $color-dark-gray;border-radius: 50%;
      display: inline-block;vertical-align: middle;position: relative;top:-.1em;content:"";}
  }
}
ol.list{padding-left: 0;line-height: 1.38;counter-reset: list;list-style: none;
  li{margin-bottom: .8rem;
    &:before{counter-increment:list;content:counter(list)'.';display: inline-block;margin-right: .5rem }
  }
}


sub, sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup{top: -0.5em;}
sub{bottom: -0.25em;}
