@import "fonts.scss";

// FONTS
$font-bold: "Amanita-Bold";
$font-medium: "Amanita-Medium";


$base-font-size: 1.5rem;
$base-line-height: 1.813rem;
$base-font-family: "Amanita-Medium";


//Breakpoints

$mobile: 767px;
$tablet: 992px;
$phone: 536px;


////Colors
$color-red:#F60909;
$color-orange:#FF4026;
$color-light-white:#F5F5F5;
$color-white-text-button:#F1F1F1;
$color-dark-gray:#464646;
$color-light-gray2:#F6F7F8;
$color-light-gray3:#EBEBEB;
$color-gray:#A0A0A0;
$color-stars-gold:#FFBA34;
$color-stars-gray:#CFCFCF;
$color-subtitle:#E9E9E9;
$color-products-button: #EBEBEB;
$color-dark-violet:#5D236C;
$color-burger:#1A1A1A;
$color-header-button:#D3D3D3;
$color-h4: #eeeeee;

//// NEW COLORS
$color-light-gray:#6D6D6D;
$color-white:#FFFFFF;
$color-orange-elements:#FF543D;
$color-header-text-white:#B6B6B6;
$color-header-logo-gray:#3F3F3F;
$color-white-two:#F8F8F8;
$color-gray-two:#647280;
$color-dark-one: #385070FF;
$color-white-interface:#EBEEF2;
$color-gray-btn:#C6C9CD;
$color-dark: #565656;

