@import "fonts.scss";

// FONTS
$font-normal: 'Regular';
$font-bold: 'Bold';
$font-semi-bold: 'SemiBold';
$font-light: 'Light';


$base-font-size: 1.5rem;
$base-line-height: 1.813rem;
$base-font-family: 'Regular';


//Breakpoints

$mobile: 767px;
$tablet: 992px;
$phone: 536px;


////Colors
$color-red:#F60909;
$color-white:#ffffff;
$color-light-white:#F5F5F5;
$color-white-text-button:#F1F1F1;
$color-dark-gray:#464646;
$color-light-gray:#6D6D6D;
$color-light-gray2:#F6F7F8;
$color-gray:#A0A0A0;
$color-stars-gold:#FFBA34;
$color-stars-gray:#CFCFCF;
$color-subtitle:#E9E9E9;
$color-products-button: #EBEBEB;