

.home-title{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

  &__title{
    user-select: none;
    margin-bottom: 0rem;
  }

  &__subtitle{
    user-select: none;
  }


  &__button{
    margin-top: 2.2rem;
    background: #FF543D;
    border-radius: 0.8rem;
    border: 0;
    cursor: pointer;
    padding: 1.3rem 3.3rem;

    a{
      font-family: Bahnschrift;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 2.6rem;
    }

  }

}












