@import "../../../styles/vars";


.cards {
  font-family: $font-normal;

  &__title {
    font-size: 2.2rem;
    line-height: 2.5rem;
    color: $color-dark-one;
    margin-top: 0.5rem;

  }


  &-list{
    margin-bottom: 1rem;
  }


  &__empty{
    margin: 2rem 0rem;
    color: $color-orange-elements;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    align-items: center;
    justify-content: center;
    display: flex;

  }



  &-total{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 9%;
      margin-right: 0.5rem;
    }

    :nth-child(2){
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: $color-dark;
      margin-right: 0.5rem;
      font-family: $font-bold;
    }

    :last-child{
      font-family: $font-bold;
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: $color-orange-elements;
    }

  }


  &-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-bold;

    &__title {
      margin-top: 1rem;
      font-size: 2.6rem;
      line-height: 3rem;
      margin-bottom: 1rem;
      color: $color-orange-elements;
    }

    &__subtitle {
      font-family: $font-normal;
      color: $color-dark;
      font-size: 1.7rem;
      line-height: 1.7rem;
      text-align: center;
      margin-bottom: 3rem;
    }

    &-wrapper {
      width: 70%;
      margin: 0 auto;
    }

    &__line {
      height: 1rem;
      background: -webkit-linear-gradient(90deg, #f15256, #ff6b29);
      background: linear-gradient(90deg, #f15256, #ff6b29);
      border-radius: 0.75rem;
      margin-bottom: 1rem;
    }

  }

}
