@import "../../../styles/vars";

.card-item {
  background-color: $color-white;
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0.3rem hsl(0deg 0% 50% / 10%);
  border-radius: 1rem;
  margin-bottom: 1.2rem;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .card_image {
      flex: 1 1 94%;

      img {
        position: relative;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
      }
    }

    .card-ico_remove {
      flex: 1 1 6%;

      img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

  }

  &-bottom {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-family: $font-bold;


    .card-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.5rem;

      :first-child {
        font-family: $font-bold;
        color: $color-orange-elements;
      }

      :last-child {
        color: $color-white;
        border-radius: 1rem;
        padding: 0.2rem 0.7rem;
        border-width: 0.1rem;
        border-style: solid;
        font-size: 1.4rem;
        line-height: 1.4rem;
        background-color: $color-orange-elements;
        font-family: $font-normal;
      }
    }

    .card-description {
      padding-bottom: 0.2rem;

      &__item {
        display: block;
        font-family: $font-bold;
        color: #565656;
        padding-bottom: 0.2rem;
        font-size: 1.4rem;
        line-height: 1.4rem;

        span {
          font-size: 1.6rem;
          line-height: 1.6rem;
          color: $color-gray-two;
          font-family: $font-normal;
        }
      }
    }

    .card-price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      :first-child {
        color: #565656;
      }

      :last-child {
        color: $color-orange-elements;
      }
    }

  }
}