@import "../../../styles/vars";

.header-desktop {
  width: 100vw;
  position: absolute;
  z-index: 1000;

  .container {
    padding-top: 0rem;
    padding-bottom: 0rem;

    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    hr {
      background-color: $color-white;
      border: none;
      color: $color-white;
      height: 0.1rem;
      margin: 0 auto;
      padding: 0 10rem;
    }
  }

  &-menu {

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0rem;
      margin: 0;


      li {
        list-style: none;

        a {
          color: $color-white;
          font-size: 2rem;
          font-weight: 500;
          line-height: 3.2rem;

          &:hover::after {
            width: 100%;
            left: 0;
          }

          &::after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 0.2rem;
            right: 0;
            background: $color-orange;
            transition: width .5s ease 0s, right .5s ease 0s;
            width: 0;
          }

        }

        &:not(:last-child) {
          margin-right: 3rem;
        }
      }

    }
  }

  &-button {

    &__btn {
      font-weight: 500;
      font-size: 2rem;
      line-height: 3.2rem;
      color: $color-white;
      padding: 0.6rem 1.5rem;
      border: 1px solid $color-white;
      border-radius: 6px;
      background: transparent;
      cursor: pointer;
    }
  }

  &.sticky {
    background-color: $color-white;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;

    .header-desktop-menu {
      a {
        color: $color-gray;
      }
    }

    .container {
      hr {
        display: none;
      }
    }

    .header-desktop-logo {
      a {
        svg {
          :first-child {
            fill: $color-header-logo-gray;
          }

          :nth-child(2) {
            fill: $color-orange-elements;
          }
        }
      }
    }

    .header-desktop-button {
      button {
        color: $color-gray;
        border: 1px solid $color-gray;
      }

    }

    .header-basket {
      svg {
        & * {
          fill: $color-gray;
        }
      }
    }

    &.sticked {
      transition: 500ms;
      opacity: 1;
    }

  }

}

