.form{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 40;
}

.input{
  margin: 0 auto;
  width: 70%;
  padding: 1rem;
  margin-top: 1.5rem;
}

.select{
  padding: 1rem;
  margin-top: 1.5rem;
}