@import "../../styles/vars";

.item{
  display: flex;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.2);
  border-radius: 11px;
  padding: 1.5rem;
  margin: 1rem;
    @media (max-width: $tablet){
      min-width: 0rem;
    }
  @media (max-width: $mobile){
    padding: 0.5rem;
    margin: 0.4rem;
  }

  &-image{
    flex: 0 1 20%;
    text-align: center;
    @media (max-width: $mobile) {
      flex: 0 1 30%;
    }
    img{
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      @media (max-width: $mobile){
        width: 85%;
        height: 85%;
      }
    }
    margin-right: 1.8rem;
    @media (max-width: $mobile){
      margin-right: 0.8rem;
    }
  }

  &-content {
    flex: 0 1 80%;
    @media (max-width: $mobile) {
      flex: 0 1 70%;
    }
    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      @media (max-width: $mobile){
        margin-bottom: .5rem;
      }
      &-ico {
        text-align: center;
        img {
          cursor: pointer;
          @media (max-width: $tablet) {
            width: 70%;
            height: 70%;
          }
        }
      }

      &-title {
        display: flex;
        align-items: center;
        @media (max-width: $phone){
          flex-direction: column;
          align-items: flex-start;
        }

        &-name {
          font-weight: 700;
          font-size: 2.1rem;
          line-height: 3rem;
          color: $color-orange;
          margin-right: 1rem;
          @media (max-width: $tablet){
            font-size: 2.8rem;
          }
          @media (max-width: $mobile){
            font-size: 1.7rem;
            line-height: 1.7rem;
          }

        }

        &-type {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.8rem;
          color: $color-gray;
          @media (max-width: $tablet){
            font-size: 2rem;
          }
          @media (max-width: $mobile){
            font-size: 1.4rem;
          }

        }
      }
    }

    &-center{
      max-width: 41.5rem;
      margin-bottom: 1rem;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 1.8rem;
      @media (max-width: $tablet){
        font-size: 1.2rem;
      }
    }

    &-bottom{
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      @media (max-width: $tablet){
        font-size: 1.5rem;
      }
      &-price{
        display: flex;
        align-items: flex-end;
        font-weight: 700;
        font-size: 2.1rem;
        line-height: 2.6rem;
        color: $color-orange;
        @media (max-width: $mobile){
          font-size: 1.7rem;
        }

      }

      &-description{
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: $color-dark-gray;
        @media (max-width: $tablet){
          font-size: 2rem;
        }
        @media (max-width: $mobile){
          font-size: 1.4rem;
        }
        @media (max-width: $phone){
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}