@import "/src/styles/vars.scss";

.header{
  background-color: $color-dark-gray;
  width: 100%;
  font-family: $font-normal;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 132rem;
    margin: 0 auto;
    padding: 0.6rem 0.6rem;
  }
}

.container__info{
  display: flex;
  align-items: center;
  ul{
    flex-wrap: wrap;
    display: flex;
    list-style-type: none;
    font-size: 2rem;
    line-height: 2.3rem;
    li:not(:last-child){
      margin: 0rem 2rem 0rem 0rem;
    }
    a{
      text-decoration: none;
      color: $color-white-text-button;
    }
  }
}

.container__button{
  display: flex;
  align-items: center;
}

.logo{
  margin-right: 5rem;
  cursor: pointer;
}

.contactBtn{
  margin-right: 2rem;
}

.contactBtn {
  font-family: $font-semi-bold;
  border: 0.1rem solid $color-white;
  border-radius: 0.6rem;
  padding: 1.1rem 3rem;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 1.2rem;
}


.basketBtn {
  font-family: $font-semi-bold;
  border: 0.1rem solid $color-red;
  background-color: $color-red;
  border-radius: 0.6rem;
  padding: 1.2rem 3.7rem;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
