
.background-index{
  position: fixed;
  top: 0;
  z-index: -100;
  width: 100vw;
  left: 0;
  height: 45%;
  background: -webkit-linear-gradient(45deg, rgb(12, 12, 39), rgb(12, 12, 39) 21%, rgb(101, 30, 120));
  background: -moz-linear-gradient(45deg, rgb(12, 12, 39), rgb(12, 12, 39) 21%, rgb(101, 30, 120));
  background: linear-gradient(45deg, rgb(12, 12, 39), rgb(12, 12, 39) 21%, rgb(101, 30, 120));
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
}