
.background-index{
  position: fixed;
  top: 0;
  z-index: -100;
  width: 100vw;
  left: 0;
  height: 55%;
  background: rgb(24,143,20);
  background: rgb(23,133,19);
  background: linear-gradient(184deg, rgba(23,133,19,1) 35%, rgba(47,164,44,1) 57%, rgba(235,255,239,1) 82%);
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
}