@import "../../../styles/vars";


.section-products {

  position: relative;

  .products {
    display: flex;
    flex-wrap: wrap;
    margin: 0rem -0.5rem;
    margin-top: 4rem;
    @media (max-width: $phone) {
      margin-top: 3rem;
    }
    &-ico-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      height: 53rem;
      width: 100%;
      overflow: hidden;
      @media (max-width: $phone) {
        height: 35rem;
      }

      img {
        position: absolute;
        bottom: 0;
        width: 35%;
        right: -3rem;

        @media (max-width: 630px) {
          width: 43%;
        }
        @media (max-width: $phone) {
          width: 50%;
        }
      }
    }
  }






}



